@font-face {
  font-family: 'Nunito';
  src: url(./fonts/Nunito-Regular.ttf);
}

* {
  margin: 0rem;
  padding: 0rem;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar *, .footer *, .btn-kg, .bannerJoinH2 {
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
