@media (min-width: 480px) {
  .socialPic {
    max-width: 40%;
    position: relative; 
    right: 2rem;
  }
  .socialText {
    position: relative;
    left: 7rem;
  }
  .socialIconContainer {
    width: 15rem;
  }
  .socialIconBg {
    width: 4rem;
	  height: 4rem;
  }
  .socialIconImg {
    width: 2rem;
	  height: 2rem;
  }
}

@media (max-width: 479px) {
  .socialPic {
    max-width: 100%;
    position: relative;
    right: -5rem;
  }
  .socialText {
    position: relative;
    left: -2rem;
  }
  .socialIconContainer {
    width: 11rem;
  }
  .socialIconBg {
    width: 3rem;
	  height: 3rem;
  }
  .socialIconImg {
    width: 1.5rem;
	  height: 1.5rem;
  }
}

@media (min-height: 480px) {
  .socialH1 {
    font-size: 4vh;
  }
  .socialP1 {
    font-size: 2vh;
    line-height: 3.5vh;
  }
}

@media (max-height: 479px) {
  .socialH1 {
    font-size: 6vh;
  }
  .socialP1 {
    font-size: 3vh;
  }
}
